.counter-box {
  background: linear-gradient(90deg, #1589c2, #c2202d);
  border-radius: 20px;
  padding: 40px 60px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px; 
}

.counter-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: #fff;
  width: auto;
}


.counter-item img {
  width: 50px;
}

.text-content {
  margin-top: 7px;
}
.counter-item h3 {
  font-size: 15px;
  font-weight: 700;
}

.counter-item p {
  font-size: 14px;
  color: #fff;
}


@media (max-width: 1024px) {
.counter-box {
    padding: 30px 20px;
    gap: 20px;
  }

  .counter-item {
    width: calc(50% - 10px); /* 2 per row */
  }
}


@media (max-width: 992px) {
  .counter-box {
    padding: 25px 30px;
  }

  .counter-item {
    width: calc(50% - 10px);
    gap: 12px;
  }

  .counter-item img {
    width: 45px;
  }
}


@media (max-width: 767px) {
 
}



@media (max-width: 550px) {
 .counter-box {
    padding: 20px 12px;
    gap: 15px;
    border-radius: 14px;
  }

  .counter-item {
    width: calc(50% - 8px); 
    gap: 10px;
  }

  .counter-item img {
    width: 38px;
  }

  .counter-item h3 {
    font-size: 13px;
  }

  .counter-item p {
    font-size: 12px;
  }
  
}