
.testimonials {
  text-align: center;
}


.testimonial-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px; 
  margin-top: 30px;
  align-items: stretch;
}

.testimonial-wrapper > * {
  min-width: 0;
}



.video-slider {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 0 18px;
}

.video-track-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video-track {
  display: flex;
  transition: transform 0.4s ease;
  height: 100%;
}

.video-slide {
  min-width: 100%;
  height: 100%;
}

.video-slide iframe {
  width: 100%;
  height: 350px;
  border-radius: 16px;
  border: none;
}



.review-slider {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 0 18px;
}

.review-track-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.review-track {
  display: flex;
  transition: transform 0.4s ease;
  height: 100%;
}

.review-slide {
  min-width: 100%;
  height: 95%;
  background: #eef4f7;
  padding: 50px 25px;
  border-radius: 16px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.review-slide h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.review-slide p {
  font-size: 16px;
  margin-bottom: 20px;
}

.review-slide .stars {
  color: #ffdc64;
}



.vid-prev,
.vid-next,
.rev-prev,
.rev-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background: #f5dede;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.vid-prev,
.rev-prev {
  left: 0;
}

.vid-next,
.rev-next {
  right: 0;
}



.video-dots,
.review-dots {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.video-dots span,
.review-dots span {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.video-dots span.active,
.review-dots span.active {
  background: var(--red);
}


@media (max-width: 1024px) {
  .video-slide iframe {
    height: 300px;
  }
}


@media (max-width: 992px) {
  .testimonial-wrapper {
    grid-template-columns: 1fr;
  }

  .video-slide iframe {
    height: 280px;
  }
}


@media (max-width: 767px) {
  .review-slide {
    padding: 30px 20px;
  }

  .review-slide h3 {
    font-size: 22px;
  }

  .review-slide p {
    font-size: 14px;
  }
}


@media (max-width: 550px) {
  .video-slide iframe {
    height: 220px;
  }

  .vid-prev,
  .vid-next,
  .rev-prev,
  .rev-next {
    width: 35px;
    height: 35px;
  }
}